* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #5e17eb;
    --primary-light: #ece6fd;
    --text-main: #222222;
    --text-muted: #666666;
    --bg-main: #f5f6f8;
    --bg-card: #ffffff;
    --radius-box: 12px;
    --radius-btn: 8px;
    --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.05);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    line-height: 1.5;
    padding-bottom: 70px;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}