.search-bar{
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: var(--radius-btn);
    background-color: var(--bg-card);
    box-shadow: var(--shadow-soft);
    margin-bottom: 24px;
    outline: none;
}

.fila-categorias{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.tarjeta-categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 0.85rem;
    font-weight: 600;
}

.categoria-logo{
    width: 60px;
    height: 60px;
    background-color: var(--primary-light);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.productos-novedades{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.tarjeta-producto{
    background-color: var(--bg-card);
    border-radius: var(--radius-box);
    padding: 12px;
    box-shadow: var(--shadow-soft);
    position: relative;
    display: flex;
    flex-direction: column;
}

.productos-catalogo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

.tarjeta-producto-catalogo{
    width: 100%;
    background-color: var(--bg-card);
    border-radius: var(--radius-box);
    padding: 10px;
    box-shadow: var(--shadow-soft);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tarjeta-producto-catalogo img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.imagen-producto{
    width: 100%;
    aspect-ratio: 1;
    background-color: #eaeaea;
    border-radius: var(--radius-btn);
    object-fit: cover;
    margin-bottom: 12px;
}

.titulo-producto{
    font-size: 0.9rem;
    color: var(--text-main);
    margin-bottom: 4px;
    flex-grow: 1;
}

.precio-producto{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-main);
}

.etiqueta{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
}

.etiqueta.oferta{
    background-color: darkblue;
}

.precio-antes-producto{
    color: #ff4d4f;
    text-decoration: line-through;
    font-weight: lighter;
}

.etiqueta.stock{
    background-color: #36a2eb;
}

.btn-add-cart{
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: var(--primary-color);
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.foto-perfil{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffe0cc;
    display: block;
    margin: 0 auto;
}

.cart-item{
    background: white;
    border-radius: var(--radius-box);
    padding: 12px;
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    box-shadow: var(--shadow-soft);
    align-items: center;
}

.cart-item img{
    width: 80px;
    height: 80px;
    border-radius: var(--radius-btn);
    background: #f0f0f0;
}

.add-controls{
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--bg-main);
    padding: 4px 8px;
    border-radius: 20px;
}

.add-controls span.minus{
    cursor: not-allowed;
}

.add-controls span.plus{
    cursor: pointer;
}

.btn-pay{
    background-color: var(--primary-color);
    color: white;
    border: none;
    width: 100%;
    padding: 16px;
    border-radius: var(--radius-btn);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.opciones-perfil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.caja-perfil{
    background: white;
    padding: 20px;
    border-radius: var(--radius-box);
    text-align: center;
    box-shadow: var(--shadow-soft);
}

.carrito-vacio-container h2{
    margin-bottom: 10px;
    font-weight: bold;
}

.carrito-vacio-container p{
    color: var(--text-muted);
    max-width: 300px;
    margin-bottom: 40px;
}

.img-circulo{
    background-color: #def6fd;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.img-circulo img{
    width: 80px;
    opacity: 0.6;
}

.boton-ver-catalogo{
    display: block;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 15px 40px;
    border-radius: var(--radius-btn);
    text-decoration: none;
    width: 100%;
    max-width: 350px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.boton-ver-catalogo:hover{
    background-color: rgb(34, 34, 255);
    cursor: pointer;
}